<app-banner mainTitle="Register" bannertitle="Register" description="Register Here "></app-banner>
<div class="form-gap"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Forgot Password?</h2>
                <p>You can reset your password here.</p>
    
                <!-- Form Starts -->
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                  <!-- Email Input -->
                  <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" formControlName="email" placeholder="Email address" type="email" />
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                      <small *ngIf="email.errors?.['required']">Email is required</small>
                      <small *ngIf="email.errors?.['email']">Enter a valid email address</small>
                    </mat-error>
                  </mat-form-field>
    
                  <!-- Submit Button -->
                  <button mat-raised-button color="primary" class="btn-block" type="submit">
                    Reset Password
                  </button>
                </form>
                <!-- Form Ends -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  