<section class="container-fluid p-4">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <!-- Basic Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between bg-gradient-primary">
          <h3 class="h3 mb-0 text-white-900" style="width: 300px; color:white;">Add Board Member</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-md-3">
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput id="name" formControlName="name"  appCharSpaceOnly/>
                  <mat-error *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
                    Name is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field appearance="fill">
                  <mat-label>Position</mat-label>
                  <input matInput id="position" formControlName="position" appCharSpaceOnly />
                  <mat-error *ngIf="myForm.get('position')?.invalid && myForm.get('position')?.touched">
                    Position is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput id="email" formControlName="email" />
                  <mat-error *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
                    Valid email is required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group col-md-3">
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput id="phone" formControlName="phone"  numericOnly/>
                  <mat-error *ngIf="myForm.get('phone')?.invalid && myForm.get('phone')?.touched">
                    Phone number is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-group col-md-3">
                <app-upload-image  [maxFileSize]="2" [allowedFileTypes]="['image/png', 'image/jpeg']"
                  (imageSelected)="onImageSelected($event)">
                </app-upload-image>
              </div>
              <div class="col-md-9">
                <app-text-area [control]="descriptionControl" placeholder="Enter description..." [maxLength]="300" [minLength]="50"
                  [isRequired]="true" [rows]="10" [cols]="10">
                </app-text-area>
              </div>
              
            </div>
            <div class="row">
              <div class="flex-start col-md-6">
                <button mat-flat-button type="button" color="primary" (click)="back()">
                  Back
                </button>
              </div>
              <div class="form-group flex-end col-md-6">
                <!-- Save Button -->
                <button mat-raised-button color="primary" type="submit">
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>