<app-banner mainTitle="Gallery" bannertitle="Gallery" description="Choose a precious picture"></app-banner>
<app-sticky-bar></app-sticky-bar>
<div class="container-fluid">
    <div class="row margin flex">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/01.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <div ></div>
                    <div class="back-content">
                        <h1>Janseva</h1>
                        <p>   </p>
                        <p> </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/02.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <h1>Janseva</h1>
                    <p>   </p>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/03.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <h1>Janseva</h1>
                    <p>   </p>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin flex">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/04.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <div ></div>
                    <div class="back-content">
                        <h1>Janseva</h1>
                        <p>   </p>
                        <p> </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/05.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <h1>Janseva</h1>
                    <p>   </p>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/06.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <h1>Janseva</h1>
                    <p>   </p>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin flex">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/07.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <div ></div>
                    <div class="back-content">
                        <h1>Janseva</h1>
                        <p>   </p>
                        <p> </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/08.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <h1>Janseva</h1>
                    <p>   </p>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/09.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <h1>Janseva</h1>
                    <p>   </p>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin flex">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/10.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <div ></div>
                    <div class="back-content">
                        <h1>Janseva</h1>
                        <p>   </p>
                        <p> </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/11.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <h1>Janseva</h1>
                    <p>   </p>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../../assets/GalleryImage/12.jpeg" alt="Avatar" class="fit-image">
                </div>
                <div class="flip-card-back">
                    <h1>Janseva</h1>
                    <p>   </p>
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
    
 
</div>