
<div class="col-md-3 col-sm-6">
    <div class="footer-widgets m-unset">
        <h2>Photo Gallery</h2>
        <ul class="list">
            <li><a href="../../../../assets/GalleryImage/02.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/02.jpeg" alt="#"></a></li>
            <li><a href="../../../../assets/GalleryImage/02.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/02.jpeg" alt="#"></a></li>
            <li><a href="../../../../assets/GalleryImage/03.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/03.jpeg" alt="#"></a></li>
            <li><a href="../../../../assets/GalleryImage/04.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/04.jpeg" alt="#"></a></li>
            <li><a href="../../../../assets/GalleryImage/05.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/05.jpeg" alt="#"></a></li>
            <li><a href="../../../../assets/GalleryImage/03.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/03.jpeg" alt="#"></a></li>
            <li><a href="../../../../assets/GalleryImage/03.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/03.jpeg" alt="#"></a></li>
            <li><a href="../../../../assets/GalleryImage/08.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/08.jpeg" alt="#"></a></li>
            <li><a href="../../../../assets/GalleryImage/09.jpeg" data-lightbox="example-set" data-title="believed"><img src="../../../../assets/GalleryImage/09.jpeg" alt="#"></a></li>
        </ul>
        <div class="subscribe-box">
            <input type="text" placeholder="subscribe here">
            <button type="submit" class="donate-btn more-btn hvr-shutter-out-horizontal"><i class="fa fa-send"></i>sent</button>
        </div>
    </div>
</div>