<div class="header">
    <!-- navbar -->
    <nav class="navbar-default navbar navbar-expand-lg">
      <a id="nav-toggle" (click)="toggleAndSendValue()">
        <i class="fe fe-menu"></i>
      </a>
      <div class="ms-lg-3 d-none d-md-none d-lg-block"></div>
      <!--Navbar nav -->
      <div class="ms-auto d-flex">
        <ul class="navbar-nav navbar-right-wrap ms-2 d-flex nav-top-wrap">
          <li class="dropdown ms-2">
            <a
              class="rounded-circle"
              href="#"
              role="button"
              id="dropdownUser"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img
                  alt="avatar"
                  src="../../../assets/assets/images/education/edu-img-1.jpg"
                  class="rounded-circle"
                />
              </div>
            </a>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownUser"
            >
              <div class="dropdown-item">
                <div class="d-flex">
                  <!-- <div class="avatar avatar-md avatar-indicators avatar-online">
                                      <img alt="avatar" src="../../assets/images/avatar/avatar-1.jpg" class="rounded-circle" />
                                  </div> -->
                  <div class="ms-3 lh-1">
                    <h5 class="mb-1">{{ userName | uppercase }}</h5>
                    <!-- <p class="mb-0">{{ userName | uppercase}}</p> -->
                  </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li >
                  <a class="dropdown-item" [routerLink]="['/dashboard/profile']">
                    <i class="fe fe-user me-2"></i>
                    Profile
                  </a>
                </li>
                <!-- <li>
                                  <a class="dropdown-item" [routerLink]="['/dashboard/']">
                                      <i class="fe fe-settings me-2"></i>
                                      Settings
                                  </a>
                              </li> -->
              </ul>
              <div class="dropdown-divider"></div>
              <ul class="list-unstyled">
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/dashboard/change-password']"
                    
                  >
                  <i class="fe fe-lock me-2"></i>
                    Change Password
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    [routerLink]="['/login']"
                    (click)="logOut()"
                  >
                    <i class="fe fe-power me-2"></i>
                    Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <!-- <ul class="list-unstyled">
          <li>
            <a class="dropdown-item" [routerLink]="['/login']" (click)="logOut()">
              <i class="fe fe-power me-2"></i>
              Sign Out
            </a>
          </li>
        </ul> -->
      </div>
    </nav>
  </div>
  