 <div class="col-md-3 col-sm-6">
                    <div class="footer-widgets">
                        <h2>Head Office</h2>
                        <!-- <p>Lorem ipsum dolor sit amet, sed do eiusmod temporia.</p> -->
                        <ul>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="#">92-50-01-12-70</a></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> Jansevafoundation.org@gmail.com</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Jansevafoundation.org@gmail.com</li>
                        </ul>
                     
                        <div class="footer-social-link">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>