
<app-banner mainTitle="Events" bannertitle="Events" description="“No one has ever become poor from giving."></app-banner>
<app-sticky-bar></app-sticky-bar>
<section class="events-details-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <div class="single-events">
                    <img src="../../../../../assets/childimage/07.jpg" alt="">
                    <h2>Event Description</h2>
                    <p>Welcome to Charity Foundation </p>
                   <p>At  Charity Foundation, we are committed to making a positive impact in the lives of those in need. Through our various programs and initiatives, we strive to provide support and assistance to individuals and communities facing challenges.</p>
                    <h2 class="text-center">Event Speakers</h2>
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="events-author">
                            <a href="#">
                                <h4>charity foundation</h4>
                            </a>
                            <span>Lawyer</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="events-author">
                            <a href="#">
                                <h4>charity foundation</h4>
                            </a>
                            <span>Businessman</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="events-author">
                            <a href="#">
                                <h4>charity foundation</h4>
                            </a>
                            <span>Student</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="events-author">
                            <a href="#">
                                <h4>charity foundation</h4>
                            </a>
                            <span>Businessman</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="events-author">
                            <a href="#">
                                <h4>charity foundation</h4>
                            </a>
                            <span>Student</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 text-center">
                        <div class="events-author">
                            <a href="#">
                                <h4>charity foundation</h4>
                            </a>
                            <span>Lawyer</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="events-sidbar">
                    <article class="events-article">
                        <ul>
                            <li>
                                <h5>Topics:</h5>
                                <p>Save the children for the new world.</p>
                            </li>
                            <li>
                                <h5>Host:</h5>
                                <p>charityFoundationPvtLTD.</p>
                            </li>
                            <li>
                                <h5>Location:</h5>
                                <p>Sector 51 noida</p>
                            </li>
                            <li>
                                <h5>Start Date:</h5>
                                <p>January 8 2024</p>
                            </li>
                            <li>
                                <h5>End Date:</h5>
                                <p>January 8 2024</p>
                            </li>
                            <li>
                                <h5>Website:</h5>
                                <p>charityfoundation.com</p>
                            </li>
                            <li>
                                <h5>Share:</h5>
                                <div class="share-icons">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </li>
                        </ul>
                    </article>
                    <article class="events-article events-slider">
                        <h2>upcoming events</h2>
                        <div class="upcoming-events owl-carousel owl-theme vertical-slider">
                            <!-- Single news -->
                            <div class="single-events events-info">
                                <div class="news-img">
                                    <img src="../../../../../assets/childimage/18.jpg" alt="">
                                    <div class="post-date-info events-date">
                                        <span>26</span> feb/18
                                    </div>
                                </div>
                                <div class="news-content">
                                    <div class="post-meta">
                                        <ul class="events-ul">
                                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>sector 51 noida</a></li>
                                            <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 5.00 pm-8.00pm </a></li>
                                        </ul>
                                    </div>
                                    <h2><a href="#">post title here</a></h2>
                                    <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                    <a href="#" class="donate-btn hvr-shutter-out-horizontal">register now</a>
                                    <a href="#" class="donate-btn hvr-shutter-in-horizontal">details</a>
                                </div>
                            </div>
                            <!-- Repeat for other events -->
                           
                        </div>
                    </article>
                
                </div>
            </div>
        </div>
    </div>
</section>