<app-banner mainTitle="Register" bannertitle="Register" description="Register Here "></app-banner>
<div class="register-container mt-4 mb-4">
  <div class="card">
    <div class="card-body">
      <h2>Registration Form</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Name Input -->
        <mat-form-field class="full-width" appearance="outline" >
          <mat-label>Name</mat-label>
          <input matInput type="text" id="name" formControlName="name" placeholder="Enter your name" />
          <mat-error *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)">
            <small *ngIf="f['name'].errors?.['required']">Name is required</small>
            <small *ngIf="f['name'].errors?.['minlength']">Name must be at least 3 characters long</small>
          </mat-error>
        </mat-form-field>

        <!-- Role Dropdown -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option value="" disabled>Select a role</mat-option>
              <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
            </mat-select>
          </mat-form-field>

        <!-- Email Input -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" formControlName="emailAddress" placeholder="Enter your email" />
          <mat-error *ngIf="f['emailAddress'].invalid && (f['emailAddress'].dirty || f['emailAddress'].touched)">
            <small *ngIf="f['emailAddress'].errors?.['required']">Email is required</small>
            <small *ngIf="f['emailAddress'].errors?.['emailAddress']">Enter a valid email address</small>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Mobile No</mat-label>
          <input matInput type="MobileNumber" id="MobileNumber" formControlName="MobileNumber" placeholder="Enter your MobileNumber" />
          <mat-error *ngIf="f['MobileNumber'].invalid && (f['MobileNumber'].dirty || f['MobileNumber'].touched)">
            <small *ngIf="f['MobileNumber'].errors?.['required']">Mobile Number is required</small>
          </mat-error>
        </mat-form-field>

        <!-- Password Input -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" id="password" formControlName="password" placeholder="Enter your password" />
          <mat-error *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
            <small *ngIf="f['password'].errors?.['required']">Password is required</small>
            <small *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters long</small>
          </mat-error>
        </mat-form-field>
        <!-- Submit Button -->
        <button mat-flat-button type="submit" color="primary">Register</button>
        <div class="bottom-text">
          <p>Already have an account? <a [routerLink]="['/login']">login</a></p>
         
        </div>
      </form>
    </div>
  </div>
</div>
