
<app-banner mainTitle="Social-Empowerment" bannertitle="Social-Empowerment" description="No one has ever become poor from giving."></app-banner>

<div class="blog-item">
    <a href="#">
        <div class="icon">
            <img src="https://picsum.photos/1000/600/?image=33" alt="">
        </div>
        <div class="content">
            <div class="title">Lorem Ipsum, dizgi ve baskı  <span class="blog-date">27.12.2017</span></div>
            <div class="rounded"></div>

            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                bilinmeyen bir matbaacının bir hurufat numune kitabı...
            </p>
        </div>

        <div class="item-arrow">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
    </a>

</div>

<div class="blog-item">
    <a href="#">
        <div class="icon">
            <img src="https://picsum.photos/1000/600/?image=23" alt="">
        </div>
        <div class="content">
            <div class="title">Lorem Ipsum, dizgi ve baskı  <span class="blog-date">27.12.2017</span></div>
            <div class="rounded"></div>

            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                bilinmeyen bir matbaacının bir hurufat numune kitabı...
            </p>
        </div>

        <div class="item-arrow">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
    </a>

</div>


<div class="blog-item">
    <a href="#">
        <div class="icon">
            <img src="https://picsum.photos/1000/600/?image=3" alt="">
        </div>
        <div class="content">
            <div class="title">Lorem Ipsum, dizgi  <span class="blog-date">27.12.2017</span></div>
            <div class="rounded"></div>

            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                bilinmeyen bir matbaacının bir hurufat numune kitabı...
            </p>
        </div>

        <div class="item-arrow">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
    </a>

</div>


<div class="blog-item">
    <a href="#">
        <div class="icon">
            <img src="https://picsum.photos/1000/600/?image=313" alt="">
        </div>
        <div class="content">
            <div class="title">Lorem Ipsum, dizgi ve baskı  <span class="blog-date">27.12.2017</span></div>
            <div class="rounded"></div>

            <p>
                Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                bilinmeyen bir matbaacının bir hurufat numune kitabı...
            </p>
        </div>

        <div class="item-arrow">
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>
    </a>

</div>