<app-banner mainTitle="about us" bannertitle="ABOUT"
    description="No one has ever become poor from giving."></app-banner>
<app-sticky-bar></app-sticky-bar>

<div class="about-area section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 text-center">
                <p class="justify-text">
                    During Corona and due to Corona effect, many children became orphans, women lost their husbands
                    and in the present
                    society also many married girls are forced to leave home and live a miserable life due to family
                    oppression and
                    violence. Janseva Foundation is dedicated to helping all such people live a respectable life in
                    the society and
                    making them self-reliant.
                    Janseva Foundation is like a ray of hope for inspiration, guidance and self-reliance for
                    orphans, poor children,
                    poor needy widows and divorced women. The organization believes in the principle that any poor,
                    widow, divorced
                    woman, orphan has the right to live a respectable life in the society. Our main objective is to
                    make orphan, poor,
                    widow, divorced or single mothers realize that they are not alone but Sahayog Sansthan stands
                    behind them like a
                    family.

                    The main objective of Sahyog Foundation will be to provide necessary assistance to the children,
                    widows and women
                    orphaned due to the Corona epidemic and to make them self-reliant by providing appropriate
                    resources. Sahayog
                    Sansthan is dedicated to making a positive impact in the country and society. We aim to address
                    education,
                    employment and self-reliance for orphans, homeless, widows and women through various programs
                    and initiatives.

                    We are able to reach our objective, with the generous support of donors and volunteers. We
                    provide hope and support
                    to needy children and women in times of difficulty. We believe that together we can bring about
                    change and create a
                    brighter future for all.”

                </p>
                <br/>
                <p class="justify-text mt-5">
                    कोरोना के दौरान और कोरोना प्रभाव के कारण बहुत से बच्चे अनाथ हो गये महिलाओं ने अपना सुहाग खो दिया
                    और वर्तमान समाज में भी बहुत सी विवाहित लड़कियाँ पारिवारिक उत्पीड़न और हिंसा के कारण घर छोड़कर
                    दयनीय जीवन जीने के लिए मजबूर हैं। सहयोग संस्थान ऐसी सभी लोगो के लिए समाज में सम्मानजनक जीवन जीने
                    और उनको स्वावलंबी बनाने के लिए समर्पित है | सहयोग संस्थान अनाथ, गरीब बच्चों, ग़रीब ज़रूरतमंद
                    विधवाओ एवम् तलाकशुदा महिलाओ के लिए प्रेरणा, मार्गदर्शन और स्वावलंबन की दिशा मे एक आशा की किरण की
                    तरह है | संगठन इस सिद्धांत को मानता है की किसी भी ग़रीब, विधवा, तलाक़शुदा स्त्री, अनाथ को समाज
                    मे एक सम्मानजनक जीवन जीने का अधिकार है| हमारा मुख्य उद्देश्य अनाथ, गरीब, विधवा, तलाकशुदा या एकल
                    माताओं को यह एहसास दिलाना है कि वे अकेली नहीं हैं बल्कि सहयोग संस्थान एक परिवार की तरह उनके पीछे
                    खड़ा है।
                    सहयोग फाउंडेशन का प्रमुख उद्देश्य कोरोना महामारी की वजह से अनाथ हुए बच्चो, विधवाओ एवम् महिलाओ को
                    ज़रूरी सहायता प्रदान करना और उचित संसाधन प्रदान करके उनको स्वावलंबी बनाना होगा| सहयोग संस्थान
                    देश और समाज मे सकारात्मक प्रभाव डालने के लिए समर्पित है। हम विभिन्न कार्यक्रमों और पहलों के
                    माध्यम से, अनाथ, बेघर, विधवाओ एवम् महिलाओ के लिए शिक्षा , रोज़गार और स्वावलंबन का समाधान करना
                    है। हम दानदाताओं और स्वयंसेवकों के उदार समर्थन से, अपने उद्देश्य तक पहुंचने में सक्षम हैं| हम
                    ज़रूरतमंद बच्चो, महिलाओ को कठिनाई के समय में आशा और सहायता प्रदान करते हैं| हम ये मानते है की
                    ह्म सब एक साथ मिलकर बदलाव ला सकते हैं और सभी के लिए एक उज्जवल भविष्य बना सकते हैं।''

                </p>
            </div>
        </div>
 

    </div>
</div>
<!-- ======= about part end ======= -->


<!-- ======= Mission part start ======= -->
<section class="about-info-area section-padding parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- about content -->
                <div class="about-content">
                    <h4>our mission</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas doloribus facere perferendis
                        eveniet ipsam reiciendis cumque aspernatur natus! Voluptatem laudantium totam.</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- about content -->
                <div class="about-content">
                    <h4>our vision</h4>
                    <p> To help orphans, poor children, widows and divorced women and make them self-reliance.</p>
                </div>
            </div>
        </div>
    </div>
</section>