<div class="col-md-3 col-sm-6">
    <div class="footer-widgets ">
        <h2>Useful Pages</h2>
        <ul>
            <li><a href="#"><i class="fa fa-angle-right"></i>Our Recent Project</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i>Latest Blog</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i>Terms of Use</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i>latest Project</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i>helping hand</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i>About Our Company</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i>Contact With Us</a></li>
        </ul>
    </div>
</div>