<app-banner mainTitle="Team Members" bannertitle="Team Members"
    description="No one has ever become poor from giving."></app-banner>
<app-sticky-bar></app-sticky-bar>
<!-- Second Row [Team]-->
<!-- <h2 class="font-weight-bold mb-2 text-center">Our Team</h2>
<p class="font-italic text-muted mb-4 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p> -->

<div class="container-fluid">
  <div class="row pb-5" style="margin: 50px;">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded teams">
        <div class="card-body p-0"><img src="../../../../../assets/team-members/Nigar Siddiqui.jpg" alt="" class="w-100 card-img-top" height="300px" width="100%">
          <div class="p-4">
            <h3 class="mb-0">Nigar Siddiqui</h3>
            <p class="small text-muted">CEO - Consultant</p>
            <!-- <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded teams">
        <div class="card-body p-0"><img src="../../../../../assets/team-members/Sapna Rajput.jpg" alt="" class="w-100 card-img-top" height="300px" width="100%">
          <div class="p-4">
            <h3 class="mb-0">Sapna Rajput</h3>
            <p class="small text-muted">CEO - Consultant</p>
            <!-- <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded teams">
        <div class="card-body p-0"><img src="../../../../../assets/team-members/ravi.png" alt="" class="w-100 card-img-top" height="300px" width="100%">
          <div class="p-4">
            <h3 class="mb-0">Ravi Chaursiya</h3>
            <p class="small text-muted">Web Devloper</p>
            <!-- <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded teams">
        <div class="card-body p-0"><img src="../../../../../assets/team-members/parul-chaudhary.jpeg" alt="" class="w-100 card-img-top" height="300px" width="100%">
          <div class="p-4">
            <h3 class="mb-0">Parul Chaudhary</h3>
            <p class="small text-muted">Web Devloper</p>
            <!-- <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5" style="margin: 50px;">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded teams">
        <div class="card-body p-0"><img src="../../../../../assets/team-members/jyoti-sharma.jpeg" alt="" class="w-100 card-img-top" height="300px" width="100%">
          <div class="p-4">
            <h3 class="mb-0">Jyoti Sharma</h3>
            <p class="small text-muted">CEO - Consultant</p>
            <!-- <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded teams">
        <div class="card-body p-0"><img src="../../../../../assets/team-members/rashmi-singh.jpeg" alt="" class="w-100 card-img-top" height="300px" width="100%">
          <div class="p-4">
            <h3 class="mb-0">Rashmi Singh</h3>
            <p class="small text-muted">Web Devloper</p>
            <!-- <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded teams">
        <div class="card-body p-0"><img src="../../../../../assets/team-members/IMG_20200218_195921_684.jpg" alt="" class="w-100 card-img-top" height="300px" width="100%">
          <div class="p-4">
            <h3 class="mb-0">Deepak Singh</h3>
            <p class="small text-muted">Web Devlopers</p>
            <!-- <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded teams">
        <div class="card-body p-0"><img src="../../../../../assets/team-members/preetikaursexena.jpeg" alt="" class="w-100 card-img-top" height="300px" width="100%">
          <div class="p-4">
            <h3 class="mb-0">Preeti Kaur Sexena</h3>
            <p class="small text-muted">Web Devloper</p>
            <!-- <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item m-0"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
