<swiper-container class="mySwiper responsive" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
  loop="true" autoplay-delay="5000" autoplay-disable-on-interaction="false" centered-slides="true" speed="700">
  <swiper-slide style="position: relative;">
    <div class="swiper-content">
      <img src="../../../../assets/img/slider/02.jpg" style="height: 600px; width: 100%;">
      <!-- <div class="text-over-image"><p class="ptext">I have found that among its other benefits, giving liberates the soul of the giver.</p></div> -->
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="swiper-content">
      <img src="../../../../assets/img/slider/01.jpg" style="height: 600px; width: 100%;">
      <!-- <div class="text-over-image"><p class="ptext">I have found that among its other benefits, giving liberates the soul of the giver.</p></div> -->
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="swiper-content">
      <img src="../../../../assets/img/slider/01.jpg" style="height: 600px; width: 100%;">
      <!-- <div class="text-over-image"><p class="ptext">I have found that among its other benefits, giving liberates the soul of the giver.</p></div> -->
    </div>
  </swiper-slide>

  
</swiper-container>
