
<section class="container-fluid p-4">
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between bg-gradient-primary">
              <h3 class="h3 mb-0 text-white-900" style="width: 300px;color:white"></h3>
                <button class="btn btn-primary bd-0 ml-auto" [routerLink]="['/dashboard/faculity']">Add New</button>
            </div>
            <div class="card-body">
             
              
            </div>
        </div>
      </div>
  </div>
</section>