
<section class="container-fluid p-4">
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <!-- Basic Card Example -->
          <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between bg-gradient-primary">
              <h3 class="h3 mb-0 text-white-900" style="width: 300px;color:white">Add Social work</h3>
            </div>
            <div class="card-body">
           
              <form [formGroup]="socialWorkForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="form-group col-md-3">
                    <mat-form-field appearance="fill" class="custom-field-width">
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name" placeholder="Board Member Name">
                      <mat-error *ngIf="socialWorkForm.controls['name'].invalid && socialWorkForm.controls['name'].touched">
                        Name is required
                      </mat-error>
                    </mat-form-field>
                    </div>
                  <div class="form-group col-md-3">
                <mat-form-field appearance="fill"class="custom-field-width">
                  <mat-label>Position</mat-label>
                  <input matInput formControlName="position" placeholder="Board Member Position">
                  <mat-error *ngIf="socialWorkForm.controls['position'].invalid && socialWorkForm.controls['position'].touched">
                    Position is required
                  </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field appearance="fill"class="custom-field-width">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" placeholder="Email">
                  <mat-error *ngIf="socialWorkForm.controls['email'].invalid && socialWorkForm.controls['email'].touched">
                    Please enter a valid email
                  </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-3">
                <mat-form-field appearance="fill"class="custom-field-width">
                  <mat-label>Phone</mat-label>
                  <input matInput formControlName="phone" placeholder="Phone Number">
                  <mat-error *ngIf="socialWorkForm.controls['phone'].invalid && socialWorkForm.controls['phone'].touched">
                    Phone number is required
                  </mat-error>
                </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 flex-end">
              <!-- <button mat-flat-button type="submit" color="warn"></button> -->
              <button mat-flat-button type="submit" color="primary">{{id?'Update':'Submit'}}</button>
            </div>
          </div>
              </form>
            </div>
        </div>
      </div>
  </div>
</section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  