<nav class="navbar-vertical navbar">
    <div class="vh-100" data-simplebar>
        <!-- Brand logo -->
        <a class="navbar-brand" [routerLink]="['/dashboard']">
            <img src="../../../assets/assets/images/education/course.png" alt="SahyogFoundation"  style="color: white;"/>
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a
                    class="nav-link  collapsed "
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#navDashboard"
                    aria-expanded="false"
                    aria-controls="navDashboard">
                    <i class="nav-icon fe fe-home me-2"></i>
                    Dashboard
                </a>
                <div id="navDashboard" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/report']">Report1</a>
                        </li>
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/report']">Report2</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link  collapsed "
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#navCourses"
                    aria-expanded="false"
                    aria-controls="navCourses">
                    <i class="nav-icon fe fe-book me-2"></i>
                    Member's
                </a>
                <div id="navCourses" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/board']"> Add Board Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/board-member-list']">Board Members List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/team']">Add Team Member</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/team-list']">Team Member List</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navProfile" aria-expanded="false" aria-controls="navProfile">
                    <i class="nav-icon fe fe-user me-2"></i>
                    Volounteer
                </a>
                <div id="navProfile" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/volounteer']">Add Volounteer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/volounteer-list']">Volounteer List</a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link  collapsed " href="#" data-bs-toggle="collapse" data-bs-target="#navCMS" aria-expanded="false" aria-controls="navCMS">
                    <i class="nav-icon fe fe-book-open me-2"></i>
                    Doner's
                </a>
                <div id="navCMS" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/doner']">Add Doner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/doner-list']">Doner List</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a
                    class="nav-link  collapsed "
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#navProject"
                    aria-expanded="false"
                    aria-controls="navProject">
                    <i class="nav-icon fe fe-file me-2"></i>
                    Events
                </a>
                <div id="navProject" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a
                                class="nav-link  collapsed "
                                href="#"
                                data-bs-toggle="collapse"
                                data-bs-target="#navprojectSingle"
                                aria-expanded="false"
                                aria-controls="navprojectSingle">
                                Social Events
                            </a>
                            <div id="navprojectSingle" class="collapse " data-bs-parent="#navProject">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard/events/social-events']">Social Events1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard/events/social-events']">Social Events2</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link  collapsed "
                                href="#"
                                data-bs-toggle="collapse"
                                data-bs-target="#navprojectSingle"
                                aria-expanded="false"
                                aria-controls="navprojectSingle">
                               Educational Events
                            </a>
                            <div id="navprojectSingle" class="collapse " data-bs-parent="#navProject">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard/events/educational-event']"> Educational Events1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard/events/educational-event']"> Educational Events2</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a
                    class="nav-link  collapsed "
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#navAuthentication"
                    aria-expanded="false"
                    aria-controls="navAuthentication">
                    <i class="nav-icon fe fe-lock me-2"></i>
                    Work
                </a>
                <div id="navAuthentication" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/work/education-training']">Educational & Training</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/work/social-work']">Social</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/work/employment']">Employment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/work/social-cultural']">Social & Cultural</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard/work/skill']">Skill Devlopment</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Nav item -->
            <!-- <li class="nav-item">
                <a
                    class="nav-link  collapsed "
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#navecommerce"
                    aria-expanded="false"
                    aria-controls="navecommerce">
                    <i class="nav-icon fe fe-shopping-bag me-2"></i>
                    Ecommerce
                </a>
                <div id="navecommerce" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a
                                class="nav-link  collapsed "
                                href="#"
                                data-bs-toggle="collapse"
                                data-bs-target="#navproduct"
                                aria-expanded="false"
                                aria-controls="navproduct">
                                Product
                            </a>
                            <div id="navproduct" class="collapse " data-bs-parent="#navProduct">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard']">Grid</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard']">
                                            Grid Sidebar
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard']">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard']">Product Single</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard']">Product Single v2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " [routerLink]="['/dashboard']">Add Product</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Shopping Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Checkout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Order Single</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Order History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Order Summary</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Customer Single</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Add Customer</a>
                        </li>
                    </ul>
                </div>
            </li> -->
            <!-- Nav item -->
            <li class="nav-item">
                <a
                    class="nav-link  collapsed "
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#navlayouts"
                    aria-expanded="false"
                    aria-controls="navlayouts">
                    <i class="nav-icon fe fe-layout me-2"></i>
                    Layouts
                </a>
                <div id="navlayouts" class="collapse " data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Top</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Compact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " [routerLink]="['/dashboard']">Vertical</a>
                        </li>
                    </ul>
                </div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <div class="nav-divider"></div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <div class="navbar-heading" style="color: white;">Apps</div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/dashboard']">
                    <i class="nav-icon fe fe-message-square me-2"></i>
                    Chat
                </a>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/dashboard']">
                    <span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-trello">
                            <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                            <rect x="7" y="7" width="3" height="9"></rect>
                            <rect x="14" y="7" width="3" height="5"></rect>
                        </svg>
                    </span>
                    <span class="ms-2">Task</span>
                </a>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link "[routerLink]="['/dashboard']">
                    <span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-mail">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>
                    </span>
                    <span class="ms-2">Mail</span>
                </a>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/dashboard']">
                    <span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-calendar">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg>
                    </span>
                    <span class="ms-2">Calendar</span>
                </a>
            </li>
            <li class="nav-item">
                <div class="nav-divider"></div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <div class="navbar-heading" style="color: white;">Components</div>
            </li>
            <!-- Nav item -->
           
            <!-- Nav item -->
            <!-- Nav item -->
            
            <!-- Nav item -->
           
            <!-- Nav item -->
      
            <!-- Nav item -->
            <li class="nav-item">
                <div class="nav-divider"></div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <div class="navbar-heading" style="color: white;">Documentation</div>
            </li>
            <!-- Nav item -->
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/dashboard']">
                    <i class="nav-icon fe fe-clipboard me-2"></i>
                    Documentation
                </a>
            </li>
            <!-- Nav item -->
           
        </ul>
       
    </div>
</nav>