<div class="heading white-heading mt-4 test">
  Gallery Image
</div>
<div class="photo-wrapper mt-5" id="photoWrapper">
  <div class="photo">
      <img src="../../../../assets/GalleryImage/01.jpeg" loading="lazy" >
  </div>
  <div class="photo">
      <img src="../../../../assets/GalleryImage/02.jpeg" loading="lazy" >
  </div>
  <div class="photo">
      <img src="../../../../assets/GalleryImage/03.jpeg" loading="lazy" >
  </div>
  <div class="photo">
      <img src="../../../../assets/GalleryImage/04.jpeg" loading="lazy" >
  </div>
  <div class="photo">
      <img src="../../../../assets/GalleryImage/05.jpeg" loading="lazy" >
  </div>
  <div class="photo">
      <img src="../../../../assets/GalleryImage/06.jpeg" loading="lazy" >
  </div>
</div>