* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1e23;
    display: grid;
    place-items: center;
    height: 100svh;
}

.photo-wrapper {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
    width: 100%;
}

.photo {
    border-radius: 16px;
    overflow: hidden;
    width: 300px;
    height: 200px;
    position: relative;
    flex-shrink: 0;
    transition: transform 0.25s ease;

    & img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    &::after {
        content: "";
        position: absolute;
        top: -1rem;
        bottom: -1rem;
        left: -16rem;
        background: linear-gradient(90deg, transparent, white, transparent);
        width: 16rem;
        opacity: 0;
        transform: rotate(6deg);
    }

    &:hover::after {
        left: 100%;
        opacity: 0.15;
        transition: inset 1s;
    }

    &:hover {
        transform: scale(1.1) !important;
    }

    &.even {
        transform: rotate(2deg);
    }

    &:not(.even) {
        transform: rotate(-2deg);
    }
}
.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
.white-heading{
    color: #fb7035;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    // background: url('../../../../assets/img/gallery/07.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    // background: url('../../../../assets/img/gallery/04.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}
.test{
margin: 0px;
padding: 0px;
margin-top: 10px;
z-index: 0;
}
