<app-banner mainTitle="Founder's Message" bannertitle="Founder Message"
    description="No one has ever become poor from giving."></app-banner>
<app-sticky-bar></app-sticky-bar>


<!-- <section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">My Cards Dark</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Podcast Title</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">Podcast Title</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play green">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
	</div>
</section> -->

<section >
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle"></div>
        <article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../../../../assets/board-message/urmila-dixit.jpeg" alt="Image Title" data-aos="fade-right" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a href="#">URMILA DIXIT (Founder)</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 12th 2024
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<p data-aos="fade-up"
						style="text-align: justify; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.5;">
						Children are the future of nation and society. Any human being learns values of life in their childhood. So if
						we are able to protect the childhood then definitely we can protect our nation ad society both. If we want to
						make our nation free from poverty then we have only one way i.e. to remove poverty of each childhood.
						In traditional Indian society women plays many roles like sister, mother, wife etc. Women are the home maker in
						Indian society hence for better society women’s require physical and emotional wellness. Women’s physical,
						mental wellness was always a neglected issue and faced negligence from all quarters and that remain accepted
						norm till today in society.
						I personally believe that without addressing the fundamental issues of women and children we cannot think for a
						developed and happy nation. I am sure that together we can turn challenges into opportunities, making a positive
						impact on the lives of young people and society as a whole. Let us work hand in hand, across generations, to
						build a better India and a better world by addressing the fundamental issues of children’s and women’s. If we
						nurture the dreams of children and mothers, the world will be blessed.
					</p>
				</div>
				<!-- <ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul> -->
			</div>
		</article>
		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img"  src="../../../../../assets/board-message/urmila-dixit.jpeg"  alt="Image Title"  />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">उर्मिला दीक्षित (संस्थापक)</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>सोम, 12 मई 2024
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<p style="text-align: justify; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.5;">
						बच्चे देश और समाज का भविष्य हैं। कोई भी इंसान जीवन के मूल्य बचपन में ही सीखता है। इसलिए यदि हम बचपन की रक्षा
						करने में सक्षम हैं तो निश्चित रूप से हम अपने देश और समाज दोनों की रक्षा कर सकते हैं। अगर हम अपने देश को गरीबी से
						मुक्त कराना चाहते हैं तो हमारे पास एक ही रास्ता है कि हम हर बचपन की गरीबी दूर करें।
				
						पारंपरिक भारतीय समाज में महिलाएँ बहन, माँ, पत्नी आदि जैसी कई भूमिकाएँ निभाती हैं। महिलाएँ भारतीय समाज में गृह
						निर्माता हैं इसलिए बेहतर समाज के लिए महिलाओं को शारीरिक और भावनात्मक कल्याण की आवश्यकता होती है। महिलाओं का
						शारीरिक, मानसिक स्वास्थ्य हमेशा एक उपेक्षित मुद्दा रहा है और इसे हर तरफ से उपेक्षा का सामना करना पड़ा है और यह
						आज तक समाज में स्वीकृत मानदंड बना हुआ है।
				
						मैं व्यक्तिगत रूप से मानती हूं कि महिलाओं और बच्चों के बुनियादी मुद्दों को संबोधित किए बिना हम एक विकसित और
						खुशहाल राष्ट्र के बारे में नहीं सोच सकते। मुझे यकीन है कि हम मिलकर चुनौतियों को अवसरों में बदल सकते हैं, जिससे
						युवाओं और पूरे समाज के जीवन पर सकारात्मक प्रभाव पड़ेगा। आइए बच्चों और महिलाओं के बुनियादी मुद्दों को संबोधित
						करके एक बेहतर भारत और एक बेहतर दुनिया का निर्माण करने के लिए पीढ़ियों तक हाथ से काम करें। अगर हम बच्चों और
						माताओं के सपनों को संजोएं तो दुनिया धन्य हो जाएगी।
					</p>
				</div>
				<!-- <ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul> -->
			</div>
		</article>
	
		<!-- <article class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a href="#">BOARD-MEMBERS</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play green">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article>
		<article class="postcard light yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a href="#">BOARD-MEMBERS</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
					</li>
				</ul>
			</div>
		</article> -->
	</div>
</section>

