<app-info></app-info>
<footer class="footer-area parallax">
    <div class="top-footer-area section-padding">
        <div class="container p-0">
            <div class="row" style="display: inherit;">
                <!-- footer widgets -->
                <app-news-letter></app-news-letter>
                <app-navigation></app-navigation>
                <app-social-icon></app-social-icon>
                <app-lightbox></app-lightbox>
            </div>
        </div>
    </div>
   <app-copy-right></app-copy-right>
</footer>