
<section class="page-title-area parallax">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <!-- page title -->
              <div class="page-title">
                  <div class="title">
                      <h2>{{mainTitle}}</h2>
                  </div>
                  <ul class="breadcrumb">
                      <li><a href="/">{{bannertitle}}</a></li>
                      <li class="active">{{description}}</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- <app-sticky-bar></app-sticky-bar> -->
</section>

