.container-fluid
{
    height: 270px;
    margin-top: -118px;
    width: auto;
    background-color: black;
}
.fw-bolder
{
   font-size: xx-large;
   font-weight: bold;
   color:white;
   display:inline-block;
   margin-top: 70px;
   
}