.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: red;
    color:red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Hidden by default */
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }
  
  /* Show the button when the user scrolls down */
  .show-button {
    display: block;
  }
  