
<app-slider></app-slider>

<div class="marquee">
    <div class="inner">
      <p class="text">
        <span> Janseva Foundation </span>
        <span> Janseva Foundation </span>
        <span> Janseva Foundation </span>
        <span> Janseva Foundation </span>
        <span> Janseva Foundation </span>
      </p>
      <p class="text">
        <span> Janseva Foundation </span>
        <span> Janseva Foundation </span>
        <span> Janseva Foundation </span>
        <span> Janseva Foundation </span>
        <span> Janseva Foundation </span>
      </p>
    </div>
  </div>

<section class="about-area section-padding" data-aos="fade-up">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center">
                <!-- section title -->
                <div class="title">
                    <h2 data-aos="slide-left"> Why Janseva Foundation?</h2>

    <p>Janseva Foundation Sansthan is an organization dedicated to help, support, motivate and guide the Orphan/ Poor Children, Widowed/ divorced or Single Mothers so that they can live a respectful life in a man dominating society. Our main objective is to realize the Orphan/ Poor Children, Widowed/ divorced or Single Mothers that they are not alone rather they have family standing behind them. During Corona and post corona effect many kids / females lost their parents/ husband and forced to live in a miserable life. Even in current society lots of married girls are forced to quit home because of family torture and violence. So objective of SAHYOG Society is to help and support such women to live a respectable life in society.</p>
    ।               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5" data-aos="fade-right">
                <!-- about img -->
                <div class="about-img" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1500">
                    <img src="../../../../assets/childimage/10.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-7"  data-aos="slide-left">
                <!-- about details -->
                <div class="about-details">
                    <p>We prioritize children's well-being, safeguard their interests, and equip them for a successful future. Our efforts focus on creating a supportive environment where every child can thrive. We offer holistic care that includes physical, emotional, and educational support, ensuring they are well-prepared to face future challenges.

                        We are dedicated to nurturing children's development, ensuring their safety, and preparing them for a bright future. Our approach is comprehensive and child-centered, addressing their needs with compassion and expertise. </p>

                    <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                </div>
            </div>
        </div>
        <div class="row" data-aos="zoom-in">
            <div class="col-md-4 col-sm-6">
                <!-- service content -->
                <div class="service-content">
                    <div class="service-title">
                        <h3>adopt a child</h3>
                    </div>
                    <i class="fa fa-child" aria-hidden="true"></i>
                    <p>Creating forever homes and changing lives, one adoption at a time.</p>
                    <a routerLink="/contact-us" class="donate-btn more-btn hvr-shutter-out-horizontal">contact us</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <!-- service content -->
                <div class="service-content">
                    <div class="service-title">
                        <h3>get involved</h3>
                    </div>
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <p>Join us in making a difference: Be a volunteer and change lives today."</p>
                    <a routerLink="/donate" class="donate-btn more-btn hvr-shutter-out-horizontal">donate now</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- service content -->
                <div class="service-content mobile-auto">
                    <div class="service-title">
                        <h3>be a volunteer</h3>
                    </div>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <p>Join us in making a difference: Be a volunteer and change lives today."</p>
                    <a routerLink="/volunteer" class="donate-btn more-btn hvr-shutter-out-horizontal">join us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= about part end ======= -->
<app-poronam-slider></app-poronam-slider>
<!-- ======= testmonial part end ======= -->
<app-testimonial></app-testimonial>
