
<section class="container-fluid ">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
          <div class="border-bottom pb-3 mb-3 d-lg-flex justify-content-between align-items-center">
              <div class="mb-3 mb-lg-0">
                  <h1 class="mb-0">Board Member List</h1>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <div class="card shadow mb-4">
              <div class="card-body">
                  <div class="card-header d-flex justify-content-between bg-gradient-primary">
                      <h3 class="h3 mb-0 text-white-900" style="width:300px;color:white">Board Member List
                      </h3>
                      <button class="btn btn-outline-white bd-0 ml-auto" [routerLink]="['/dashboard/board']">Add New</button>
                  </div>
                  <!-- Proposal Table -->
                  <div class="row">
                    <div class="col-md-12">
                      <!-- HTML Template -->
                      <mat-table [dataSource]="membersList" class="mat-elevation-z8 mt-0">
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                          <mat-cell *matCellDef="let member"> {{member.name}} </mat-cell>
                        </ng-container>
                        
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                          <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
                          <mat-cell *matCellDef="let member"> {{member.position}} </mat-cell>
                        </ng-container>
                        
                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                          <mat-cell *matCellDef="let member"> {{member.email}} </mat-cell>
                        </ng-container>
                        
                        <!-- Phone Column -->
                        <ng-container matColumnDef="phone">
                          <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
                          <mat-cell *matCellDef="let member"> {{member.phone}} </mat-cell>
                        </ng-container>
                      
                        <!-- Action Column for Edit and Delete -->
                        <ng-container matColumnDef="actions">
                          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                          <mat-cell *matCellDef="let member">
                            <!-- Edit Button -->
                            <button mat-icon-button (click)="editMember(member)">
                              <mat-icon>visibility</mat-icon> <!-- Eye icon for Edit -->
                            </button>
                      
                            <!-- Delete Button -->
                            <button mat-icon-button (click)="deleteMember(member)">
                              <mat-icon>delete</mat-icon> <!-- Trash icon for Delete -->
                            </button>
                          </mat-cell>
                        </ng-container>
                      
                        <!-- Table Row Definitions -->
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                      
                    </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</section>



