
 <section class="registration-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
             
                <div class="title">
                    <h2> Event Registration Form</h2>
                    <p>At Janseva Foundation, we are committed to making a positive impact in the lives of those in need. Through our various programs and initiatives, we strive to provide support and assistance to individuals and communities facing challenges.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form class="reg-form" action="#" method="get">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input placeholder="Enter Name" id="contact_name" name="contact_name" required="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input placeholder="Enter Email" id="contact_email2" name="contact_email2" class="form-control" required="" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input placeholder="Enter Phone" id="contact_phone" name="contact_subject" class="form-control" required="" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Ticket types</label>
                                <select class="form-control">
                                    <option>One Person</option>
                                    <option>Two Person</option>
                                    <option>Family Pack</option>
                                    <option>Premium</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Event types</label>
                                <select class="form-control">
                                    <option>Event 1</option>
                                    <option>Event 1</option>
                                    <option>Event 1</option>
                                    <option>All package</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group text-center">
                                <button class="donate-btn reg-btn more-btn hvr-shutter-out-horizontal">Register now</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> 

