.vertical-slider .owl-item {
    display: block;
    margin-bottom: 20px; /* Space between items */
}

.vertical-slider .owl-item .single-events {
    display: block;
    width: 100%;
}

.vertical-slider .owl-item .single-events .news-img,
.vertical-slider .owl-item .single-events .news-content {
    display: inline-block;
    vertical-align: top;
}

.vertical-slider .owl-item .single-events .news-img {
    width: 40%; /* Adjust as needed */
    margin-right: 10px; /* Space between image and content */
}

.vertical-slider .owl-item .single-events .news-content {
    width: 50%; /* Adjust as needed */
}
.background{
   background-color: #fb7035;
}
.marquee_container {
    width: 100%;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    background: black;
    padding: 0.2rem 0;
  }
  .marquee {
    display: inline-block;
    animation: marquee 30s linear infinite;
  }
  @keyframes marquee {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  p {
    display: inline-block;
    margin-right: 50px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    font-size: medium;
    text-transform: uppercase;
  }
