<app-banner mainTitle="Login" bannertitle="login" description="login to help child"></app-banner>
<div class="mar">
  <div class="login-container ">
    <form class="login-form " [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Welcome Back</h1>
      <p>Please login to your account</p>
      <div class="input-group">
        <input type="text" id="username" name="username" placeholder="Username" required formControlName="email">
      </div>
      <div class="input-group">
        <input type="password" id="password" name="password" placeholder="Password" required formControlName="password">
      </div>
      <button type="submit">Login</button>
      <div class="bottom-text">
        <p>Don't have an account? <a [routerLink]="['/register']">Sign Up</a></p>
        <p><a [routerLink]="['/forget']">Forgot password?</a></p>
      </div>
    </form>
  </div>
</div>