.file-error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }

  .upload-area {
    background-color: white;
    box-shadow: 0 10px 60px rgb(218, 229, 255) !important;
    border: 2px dashed lightblue !important;
    border-radius: 24px !important;
    padding: 2rem 1.875rem 5rem 1.875rem !important;
    text-align: center !important;
    height: 251px;
}


  .drop-zoon__file-input {
    display: none;
    color:blue
  }
  
  .uploaded-file--open {
    visibility: visible;
    opacity: 1;
  }
  

  .uploaded-file__icon {
    font-size: 3.4375rem;
    color: var(--clr-blue);
  }
  
  .uploaded-file__counter {
    font-size: 1rem;
    color: var(--clr-light-gray);
  }

/* Image preview container */
.upload-area__file-details .image-preview {
  height: 247px;   /* Fixed height */
  width: 379px;    /* Fixed width */
  border: 2px dashed lightblue !important;
  overflow: hidden;
  position: relative;
  padding: 1px;    /* Optional padding */
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 10px 60px rgb(218, 229, 255) !important;
}

/* Image inside the preview container */
.upload-area__file-details .image-preview img {
  width: 100%;        /* Ensure the image fills the container's width */
  height: 100%;       /* Ensure the image fills the container's height */
  object-fit: contain;/* Make sure the image retains its aspect ratio */
  object-position: center;  /* Keep the image centered */
  box-shadow: 0 10px 60px rgb(218, 229, 255) !important;
}


.upload-area__file-details {
  display: flex;
  justify-content: center;
  align-items: center;

}
/* Cross button styling */
.upload-area__file-details .image-preview .close-btn {
  position: absolute;
  top: 1px;
  right: 1px;
  background: none;
  border: 1px solid black;
  border-radius: 2px;
  color: red;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;  /* Ensure it stays on top of the image */
}

.upload-area__file-details .image-preview .close-btn:hover {
  color: red;  /* Change color on hover */
}

