
<app-banner mainTitle="Health & Hygine" bannertitle="Health & Hygine" description="No one has ever become poor from giving."></app-banner>
<div class="container">
    <div class="content-header">
      <h1 class="page-header text-center"> Events</h1>
    </div>
    <div class="content-column">
      <h2 class="list-title">Upcoming Events</h2>
      <div class="events-listings">
        <ul class="events-list">
          <li class="event-item clearfix">
            <div class="day-column">
              <h4 class="month-name">12 April</h4>
              <p class="day-name">Wednesday</p>
            </div>
            <div class="title-column">
              <div class="event-title">
                <h3 class="title-name">Medical Event 1 at Trust Fall Records</h3>
              </div>
              <div class="event-details">
                <ul class="event-details-list">
                  <li class="event-details-item">
                    <div>The Sinclair, Reed City</div>
                  </li>
                  <li class="event-details-item">
                    <div>8:00 AM</div>
                  </li>
                </ul>
              </div>
              <div class="event-category">
                <div><span class="event-category-title">Category:</span> <a class="event-category-name" href="#">Medical Events</a>
                </div>
              </div>
            </div>
          </li>
          <li class="event-item clearfix">
            <div class="day-column">
                <h4 class="month-name">15 April</h4>
              <p class="day-name">Wednesday</p>
            </div>
            <div class="title-column">
              <div class="event-title">
                <h3 class="title-name">Medical Event 2 at Seward Park Audubon Birding Expedition Camp</h3>
              </div>
              <div class="event-details">
                <ul class="event-details-list">
                  <li class="event-details-item">
                    <div>Seeward Park, Ann Arbor</div>
                  </li>
                  <li class="event-details-item">
                    <div>9:00 AM &ndash; 3:00 PM</div>
                  </li>
                  <li class="event-details-item">
                    <div>Repeats Daily, August 1–6</div>
                  </li>
                </ul>
              </div>
              <div class="event-category">
                <div><span class="event-category-title">Category:</span> <a class="event-category-name" href="#">Medical Events</a>
                </div>
              </div>
            </div>
          </li>
          <li class="event-item clearfix">
            <div class="day-column">
              <h4 class="month-name">12 April</h4>
              <p class="day-name">Wednesday</p>
            </div>
            <div class="title-column">
              <div class="event-title">
                <h3 class="title-name">Medical Event 1 at Trust Fall Records</h3>
              </div>
              <div class="event-details">
                <ul class="event-details-list">
                  <li class="event-details-item">
                    <div>The Sinclair, Reed City</div>
                  </li>
                  <li class="event-details-item">
                    <div>8:00 AM</div>
                  </li>
                </ul>
              </div>
              <div class="event-category">
                <div><span class="event-category-title">Category:</span> <a class="event-category-name" href="#">Medical Events</a>
                </div>
              </div>
            </div>
          </li>
          <li class="event-item clearfix">
            <div class="day-column">
                <h4 class="month-name">15 April</h4>
              <p class="day-name">Wednesday</p>
            </div>
            <div class="title-column">
              <div class="event-title">
                <h3 class="title-name">Medical Event 2 at Seward Park Audubon Birding Expedition Camp</h3>
              </div>
              <div class="event-details">
                <ul class="event-details-list">
                  <li class="event-details-item">
                    <div>Seeward Park, Ann Arbor</div>
                  </li>
                  <li class="event-details-item">
                    <div>9:00 AM &ndash; 3:00 PM</div>
                  </li>
                  <li class="event-details-item">
                    <div>Repeats Daily, August 1–6</div>
                  </li>
                </ul>
              </div>
              <div class="event-category">
                <div><span class="event-category-title">Category:</span> <a class="event-category-name" href="#">Medical Events</a>
                </div>
              </div>
            </div>
          </li>
          <!-- Other events omitted for brevity -->
        </ul>
      </div>
    </div>
    <div class="ad-column">
      <img class="ad" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" width="300" height="250">
      <img class="ad" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" width="300" height="250">
    </div>
  </div>
