<app-banner mainTitle="Doners" bannertitle="Doners"
    description="No one has ever become poor from giving."></app-banner>
<app-sticky-bar></app-sticky-bar>

<div class="container" data-aos="zoom-in">
  <div class="row" style="margin-top: 20px;">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
      <div class="our-team teams">
        <div class="picture">
          <img class="img-fluid" src="../../../../../assets/donorimage/Ashish Mishra.jpg" width="130px !important" height="130px !important">
        </div>
        <div class="team-content">
          <h2 class="name">Ashish Mishra</h2>
          <h4 class="title">Web Developer</h4>
        </div>
        <!-- <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul> -->
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team teams">
        <div class="picture">
          <img class="img-fluid" src="../../../../../assets/donorimage/Vikas Dixit.jpg" width="130px !important" height="130px !important">
        </div>
        <div class="team-content">
          <h2 class="name">Vikas Dixit</h2>
          <h4 class="title">Scientiest</h4>
        </div>
        <!-- <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul> -->
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team teams">
        <div class="picture">
          <img class="img-fluid" src="../../../../../assets/donorimage/Shridhar.jpg" width="130px !important" height="130px !important">
        </div>
        <div class="team-content">
          <h2 class="name">Shridhar</h2>
          <h4 class="title">Businessman</h4>
        </div>
        <!-- <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul> -->
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team teams">
        <div class="picture">
          <img class="img-fluid" src="../../../../../assets/donorimage/Umanath Tripathi.jpg" width="130px !important" height="130px !important">
        </div>
        <div class="team-content">
          <h2 class="name">Umanath Tripathi</h2>
          <h4 class="title">Ceo Iec</h4>
        </div>
        <!-- <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" >
      <div class="our-team teams">
        <div class="picture">
          <img class="img-fluid" src="../../../../../assets/donorimage/evaino-pinto.jpeg" width="130px !important" height="130px !important">
        </div>
        <div class="team-content">
          <h2 class="name">ELVINA PINTO</h2>
          <h4 class="title">Web Developer</h4>
        </div>
        <!-- <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul> -->
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team teams">
        <div class="picture">
          <img class="img-fluid" src="../../../../../assets/donorimage/nidhi-druva.jpeg" width="130px !important" height="130px !important">
        </div>
        <div class="team-content">
          <h2 class="name">Nidhi Dhruva</h2>
          <h4 class="title">Scientiest</h4>
        </div>
        <!-- <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul> -->
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team teams">
        <div class="picture">
          <img class="img-fluid" src="../../../../../assets/donorimage/manu-chaudhary.jpeg" width="130px !important" height="130px !important">
        </div>
        <div class="team-content">
          <h2 class="name">Manu Chaudhary</h2>
          <h4 class="title">Businessman</h4>
        </div>
        <!-- <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul> -->
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team teams">
        <div class="picture">
          <img class="img-fluid" src="../../../../../assets/donorimage/dr-premhansh-mishra.jpeg" width="130px !important" height="130px !important">
        </div>
        <div class="team-content">
          <h2 class="name">Dr Premhansh Mishra</h2>
          <h4 class="title">Ceo Iec</h4>
        </div>
        <!-- <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
