<section class="testimonial text-center">
    <div class="container">

        <div class="heading white-heading test">
            Testimonial
        </div>
        <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
         
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="testimonial4_slide">
                        <img src="../../../../assets/testimonial/Manju diwan.jpeg" class="img-circle img-responsive" />
                        <p>Janseva Foundation is one of the best NGOs I have come across. Their dedication towards the cause is exemplary.</p>
                        <h4>Manju diwan</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial4_slide">
                        <img src="../../../../assets/testimonial/Konkana Nicholas.jpg" class="img-circle img-responsive" />
                        <p>
                            A privileged to be a volunteer at Janseva Foundation. It is dedicated towards empowerment of the ladies, street, orphans and semi orphan children, old destitute people by providing food, educational and medical support. It is also involved in materialistic support to empower ladies by generating employment.
                        </p>
                        <h4>Konkana</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial4_slide">
                        <img src="../../../../assets/testimonial/Elvina Pinto.jpeg" class="img-circle img-responsive" />
                        <p>
                            It is wonderful initiative materialization of a great thought needs a lot of energy, heartful service, selfless social service leads to better society. I think everyone should join the hands of Janseva for a better future of nation.</p>
                        <h4>Elvina Pinto</h4>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial4_slide">
                        <img src="../../../../assets/testimonial/Param Hans Mishra.jpeg" class="img-circle img-responsive" />
                        <p>
                            It is wonderful initiative materialization of a great thought needs a lot of energy, heartful service, selfless social service leads to better society. I think everyone should join the hands of Janseva for a better future of nation.</p>
                        <h4>Param Hans Mishra</h4>
                    </div>
                </div>
            
            </div>
            <a class="left carousel-control" href="#testimonial4" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#testimonial4" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</section>
