   
    <app-banner mainTitle="LATEST BLOG" bannertitle="Blog" description="“No one has ever become poor from giving."></app-banner>
    <app-sticky-bar></app-sticky-bar>
<!-- ======= causes part start ======= -->
<div class="blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Single news -->
                        <article class="news-info">
                            <div class="news-img">
                                <img src="../../../../assets/childimage/01.jpg" alt="">
                                <div class="post-date-info">
                                    <span>26</span> feb/18
                                </div>
                            </div>
                            <div class="news-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> charity foundation</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>253 likes</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 23 Comments</a></li>
                                    </ul>
                                </div>
                                <h2><a href="#">post title here</a></h2>
                                <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Single news -->
                        <article class="news-info">
                            <div class="news-img">
                                <img src="../../../../assets/childimage/02.jpg" alt="">
                                <div class="post-date-info">
                                    <span>26</span> feb/18
                                </div>
                            </div>
                            <div class="news-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> charity foundation</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>253 likes</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 23 Comments</a></li>
                                    </ul>
                                </div>
                                <h2><a href="#">post title here</a></h2>
                                <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Single news -->
                        <article class="news-info">
                            <div class="news-img">
                                <img src="../../../../assets/childimage/01.jpg" alt="">
                                <div class="post-date-info">
                                    <span>26</span> feb/18
                                </div>
                            </div>
                            <div class="news-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> charity foundation</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>253 likes</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 23 Comments</a></li>
                                    </ul>
                                </div>
                                <h2><a href="#">post title here</a></h2>
                                <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Single news -->
                        <article class="news-info">
                            <div class="news-img">
                                <img src="../../../../assets/childimage/02.jpg" alt="">
                                <div class="post-date-info">
                                    <span>26</span> feb/18
                                </div>
                            </div>
                            <div class="news-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> charity foundation</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>253 likes</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 23 Comments</a></li>
                                    </ul>
                                </div>
                                <h2><a href="#">post title here</a></h2>
                                <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Single news -->
                        <article class="news-info">
                            <div class="news-img">
                                <img src="../../../../assets/childimage/01.jpg" alt="">
                                <div class="post-date-info">
                                    <span>26</span> feb/18
                                </div>
                            </div>
                            <div class="news-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> charity foundation</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>253 likes</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 23 Comments</a></li>
                                    </ul>
                                </div>
                                <h2><a href="#">post title here</a></h2>
                                <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Single news -->
                        <article class="news-info">
                            <div class="news-img">
                                <img src="../../../../assets/childimage/02.jpg" alt="">
                                <div class="post-date-info">
                                    <span>26</span> feb/18
                                </div>
                            </div>
                            <div class="news-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> charity foundation</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>253 likes</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 23 Comments</a></li>
                                    </ul>
                                </div>
                                <h2><a href="#">post title here</a></h2>
                                <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Single news -->
                        <article class="news-info">
                            <div class="news-img">
                                <img src="../../../../assets/childimage/01.jpg" alt="">
                                <div class="post-date-info">
                                    <span>26</span> feb/18
                                </div>
                            </div>
                            <div class="news-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> charity foundation</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>253 likes</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 23 Comments</a></li>
                                    </ul>
                                </div>
                                <h2><a href="#">post title here</a></h2>
                                <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6">
                        <!-- Single news -->
                        <article class="news-info">
                            <div class="news-img">
                                <img src="../../../../assets/childimage/02.jpg" alt="">
                                <div class="post-date-info">
                                    <span>26</span> feb/18
                                </div>
                            </div>
                            <div class="news-content">
                                <div class="post-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> charity foundation</a></li>
                                        <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i>253 likes</a></li>
                                        <li><a href="#"><i class="fa fa-commenting-o"></i> 23 Comments</a></li>
                                    </ul>
                                </div>
                                <h2><a href="#">post title here</a></h2>
                                <p>We care for children, protect their welfare, and prepare them for the future.</p>
                                <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal">read more</a>
                            </div>
                        </article>
                    </div>
                </div>
              </div>
                <!-- Pagination -->
                <div class="page-count">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="sidebar-widget widget-search">
                    <form method="get" action="#">
                        <input placeholder="Search here..." value="" name="search" type="search">
                        <button title="Search" name="submit" type="submit" class="sub_search"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </aside>
                <!-- single sidebar -->
                <aside class="sidebar-widget">
                    <div class="widget-title">
                        <h2>archives</h2>
                    </div>
                    <ul>
                        <li><a href="#">Case Investigation</a></li>
                        <li><a href="#">Business Taxation</a></li>
                        <li><a href="#">donate now</a></li>
                        <li><a href="#">child care</a></li>
                        <li><a href="#">helping hand</a></li>
                        <li><a href="#">Gear up for giving</a></li>
                    </ul>
                </aside>
                <!-- single sidebar -->
                <aside class="sidebar-widget">
                    <div class="widget-title recent-widget">
                        <h2>RECENT POST</h2>
                    </div>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="../../../../assets/childimage/07.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>white leg shrimp</h3>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <p>October 18, 2018</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="../../../../assets/childimage/07.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>white leg shrimp</h3>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <p>October 18, 2018</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="../../../../assets/childimage/09.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>white leg shrimp</h3>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <p>October 18, 2018</p>
                            </div>
                        </div>
                    </a>
                </aside>
                <!-- single sidebar -->
                <aside class="sidebar-widget">
                    <div class="widget-title recent-widget">
                        <h2>twitter POST</h2>
                    </div>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="../../../../assets/childimage/10.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>white leg shrimp</h3>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <p>October 18, 2018</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="../../../../assets/childimage/11.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>white leg shrimp</h3>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <p>October 18, 2018</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="post">
                            <div class="post-img">
                                <img src="../../../../assets/childimage/12.jpg" alt="">
                            </div>
                            <div class="post-info">
                                <h3>white leg shrimp</h3>
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <p>October 18, 2018</p>
                            </div>
                        </div>
                    </a>
                </aside>
                <!-- single sidebar -->
                <aside class="sidebar-widget">
                    <div class="widget-title">
                        <h2>everyday time</h2>
                    </div>
                    <ul>
                        <li class="category-active"><a href="#">Sat : 08:00am-12:00pm</a></li>
                        <li><a href="#">sun : 08:00am-12:00pm</a></li>
                        <li><a href="#">mon : 08:00am-12:00pm</a></li>
                        <li><a href="#">twe : 08:00am-12:00pm</a></li>
                        <li><a href="#">wed : 08:00am-12:00pm</a></li>
                        <li><a href="#">thu : 08:00am-12:00pm</a></li>
                        <li><a href="#">fri : 08:00am-12:00pm</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- ======= causes part end ======= -->


