<app-banner bannertitle="WHY SUPPORT US" description="Support Us"></app-banner>
<div class="card">
    <div class="card-body">
        <p>
            According to the recent Economic Survey of India 2018, there has been an increase in the number of “missing women” in India from 40 million (1), as noted by Nobel laureate economist Amartya Sen in 1990, to 63 million now. In addition to this, it is estimated that there are another 21 million “unwanted” girls (2) in India. This figure was arrived at by looking at the sex of he last child born in a family, which not surprisingly, was highly male skewed, clearly indicative of parents favouring having sons over daughters. It is very likely that these unwanted girls receive less nutrition, less healthcare and certainly less attention towards their education as well. A skewed child sex ratio of 914 girls to 1000 boys (3), poor female literacy rates of 65% at the national level – a lower 46% in rural India (3) – and only 25% of the country’s workforce reported to be female (4) also alarming figures highlighting the grim situation of girls in India.

The recent TAG Report (Teenage Girls Survey) (5) by Nanhi Kali revealed a mixed bag of results. Some of the most heartening ones showed that 80.6% of teenage girls in India are currently studying and 70% wish to purse higher studies. The high aspirations of our teenage girls are also evident with the fact that 95.8% of our teenage girls are unmarried and that 74.3% girls wanting to work after studies and have a specific career in mind. However, survey findings brought to light some red flags linked to the dignity and basic health of the girls – a critical finding is that 45.6% of girls follow unhygienic menstrual practices.

“Investment in girls’ education is a matter of global and national priority as recognised by the UN Sustainable Development Goals of quality education and gender equality, as well as the Beti Bachao Beti Padho campaign by the Government of India”

This is where Project Nanhi Kali comes in, providing underprivileged girls with the educational support they need to break free from the limited choices that poverty offers them, and grow up to be informed, confident and self-reliant young women.

It costs as little as INR 5400 to support the education of a girl studying in Class 1 – 5 and INR 6000 to support the education of a girl studying in Class 6 – 10 for an entire year.
        </p>
    </div>
</div>