
<app-banner  mainTitle="Volunteers"  bannertitle="Volunteers" description="Take A More Precious Picture"></app-banner>
    <!-- ======= Team part Start ======= -->
    <div class="box-wrapper">
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/01.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt=""> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">01</h3>
                    <h4 class="card-main-title">Nidhi Dhruv</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/02.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">02</h3>
                    <h4 class="card-main-title">Elvina Pinto</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/03.jpeg" alt="Avatar" class="fit-image">
            <img src="https://images.unsplash.com/photo-1498075702571-ecb018f3752d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=757&q=80">
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">03</h3>
                    <h4 class="card-main-title">Sushil yadav</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/04.jpeg" alt="Avatar" class="fit-image">
            <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">04</h3>
                    <h4 class="card-main-title">Jyoti Sharma</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
    </div>
    <div class="box-wrapper">
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/05.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt=""> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">05</h3>
                    <h4 class="card-main-title">Priyanka Chauhan</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/06.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">06</h3>
                    <h4 class="card-main-title">Parul Choudhary</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/07.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1498075702571-ecb018f3752d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=757&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">07</h3>
                    <h4 class="card-main-title">Chief Executive Director</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/08.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">08</h3>
                    <h4 class="card-main-title">Priyanka Gupta</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
    </div>
    <div class="box-wrapper">
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/09.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt=""> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">09</h3>
                    <h4 class="card-main-title">Alka pandey</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/10.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">10</h3>
                    <h4 class="card-main-title">Nidhi Sharma _ Delhi</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/11.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1498075702571-ecb018f3752d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=757&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">11</h3>
                    <h4 class="card-main-title">Sanjali Tiwari</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/12.jpeg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">12</h3>
                    <h4 class="card-main-title">Sapna rajput</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/13.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">13</h3>
                    <h4 class="card-main-title">Dr. Saumya Jyotsana</h4>
                    
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/14.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">14</h3>
                    <h4 class="card-main-title">Kiran</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/15.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">15</h3>
                    <h4 class="card-main-title">Mannu</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/16.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">16</h3>
                    <h4 class="card-main-title">Parul</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/17.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">17</h3>
                    <h4 class="card-main-title">Pooja Daakre</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/18.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">18</h3>
                    <h4 class="card-main-title">Pooja Sharma</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/19.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">19</h3>
                    <h4 class="card-main-title">Priti Dhaka</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/20.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">20</h3>
                    <h4 class="card-main-title">Sanoj Mishra</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/21.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">21</h3>
                    <h4 class="card-main-title">Sikha Ghildiyal</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/22.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">22</h3>
                    <h4 class="card-main-title">Neha Siddiqui</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/23.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">23</h3>
                    <h4 class="card-main-title">Vivek Agrawal</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
        <figure class="shape-box shape-box_half">
            <img src="../../../../assets/volunteer/24.jpg" alt="Avatar" class="fit-image">
            <!-- <img src="https://images.unsplash.com/photo-1534669740902-e09e38a6a29f?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"> -->
            <div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
            <figcaption>
                <div class="show-cont">
                    <h3 class="card-no">24</h3>
                    <h4 class="card-main-title">Yogesh Bajapai</h4>
                </div>
                <p class="card-content">Customer interactions, study and analysis of company branding through creative briefs. Creation of mock-up designs by using UI tools that simulate actions and pre-visualize the reactions.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </figcaption>
            <span class="after"></span>
        </figure>
    </div>
  