<div class="marquee">
    <div class="inner">
      <p class="text">
        <span>Live without regrets</span>
        <span>Live without regrets</span>
        <span>Live without regrets</span>
        <span>Live without regrets</span>
        <span>Live without regrets</span>
      </p>
      <p class="text">
        <span>Live without regrets</span>               <span>Live without regrets</span>
        <span>Live without regrets</span>
        <span>Live without regrets</span>
        <span>Live without regrets</span>
      </p>
    </div>
  </div>