<section class="call-to-action remove-padding">
    <div class="container  remove-padding">
        <div class="row">
            <div class="col-md-9">
                <div class="call-to-main">
                    <h2>We care for children, protect their welfare, and prepare them for the future.</h2>
                </div>
            </div>
            <div class="col-md-3 text-right remove-padding">
                <div class="donate-call" style="margin-top: 4px;">
                    <a href="#" class="donate-btn more-btn hvr-shutter-out-horizontal"><i class="fa fa-send"></i>donate now</a>
                </div>
            </div>
        </div>
    </div>
</section>